@model AssetManagement.Mvc.Models.ViewModels.Assets.AssetGroupViewModel
@{
    ViewBag.Title = "Asset Group Form";
}

<div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 ">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Asset Group Form</h3>
            </div>
            <div class="box-body">
                <div class="col-md-8 col-sm-8">
                    @using (Html.BeginForm("Save", "AssetGroups"))
                    {
                        <div id="saveForm">
                            <div class="form-group">
                                @Html.LabelFor(c => c.AssetTypeId)
                                @Html.DropDownListFor(c => c.AssetTypeId, new SelectList(Model.AssetTypes, "Id", "Name"), "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(c => c.AssetTypeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(c => c.Name)
                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(c => c.ShortName)
                                @Html.TextBoxFor(c => c.ShortName, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(c => c.ShortName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(c => c.GroupCode)
                                @Html.TextBoxFor(c => c.GroupCode, new { @class = "form-control input-sm", @readonly = "readonly" })
                                @Html.ValidationMessageFor(c => c.GroupCode, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.HiddenFor(c => c.Id)
                                @Html.AntiForgeryToken()
                                <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
                            </div>
                            
                            <div class="form-group">
                                <p>@ViewBag.Message</p>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="col-md-4 col-sm-4">
                    <br />
                    <p>@Html.ActionLink("Back To List", "Index", "AssetGroups", null, new { @class = "btn btn-info btn-sm" })</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/FormScript/assetGroup.js"></script>
}

