@using System.Web.Optimization
@model AssetManagementUI.ViewModels.DesignationViewModel
@{
    ViewBag.Title = "DesignationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10">
    <div class="col-md-8 col-sm-8 noPadingLeft">
        <h2>New Branch</h2>
    </div>

    <div class="col-md-4 col-sm-4">
        <p>@Html.ActionLink("Back To List", "Index", "Designations", null, new { @class = "btn btn-default align-right" })</p>

    </div>
</div>


@using (Html.BeginForm("Save", "Branchs"))
{
    <div id="saveForm" class="col-md-offset-1 col-sm-offset-1 col-md-6 col-sm-8">
        <div class="form-group">
            @Html.LabelFor(c => c.DepartmentId)
            @Html.DropDownList("DepartmentId", null, "---select---", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.DepartmentId)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.ShortName)
            @Html.TextBoxFor(c => c.ShortName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.ShortName)
        </div>

        <div class="form-group">
            @Html.HiddenFor(c => c.Id)
            @Html.AntiForgeryToken()
            <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="@ViewBag.CssClass" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@ViewBag.MessageType</strong>@ViewBag.Message
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FormScript/designation.js"></script>

}






