@using System.Web.Optimization
@model AssetManagementUI.ViewModels.HRM.EmployeeViewModel
@{
    ViewBag.Title = "EnployeeForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10">
    <div class="col-md-8 col-sm-8 noPadingLeft">
        <h2>New Employee</h2>
    </div>

    <div class="col-md-4 col-sm-4">
        <p>@Html.ActionLink("Back To List", "Index", "Employees", null, new { @class = "btn btn-default align-right" })</p>

    </div>
</div>


@using (Html.BeginForm("Save", "Employees"))
{
    <div id="saveForm" class="col-md-offset-1 col-sm-offset-1 col-md-6 col-sm-8">
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.OrganizationId)
            @Html.DropDownListFor(c => c.Employee.OrganizationId, new SelectList(Model.Organizations, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.OrganizationId)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.BranchId)
            @Html.DropDownListFor(c => c.Employee.BranchId, new SelectList(Model.Branches, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.BranchId)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.DepartmentId)
            @Html.DropDownListFor(c => c.Employee.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.DepartmentId)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.DesignationId)
            @Html.DropDownListFor(c => c.Employee.DesignationId, new SelectList(Model.Designations, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.DesignationId)
        </div>
        

        <div class="form-group">
            @Html.LabelFor(c => c.Employee.FirstName)
            @Html.TextBoxFor(c => c.Employee.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Employee.LastName)
            @Html.TextBoxFor(c => c.Employee.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.LastName)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.Code)
            @Html.TextBoxFor(c => c.Employee.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.Code)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Employee.ContactNo)
            @Html.TextBoxFor(c => c.Employee.ContactNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.ContactNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Employee.Email)
            @Html.TextBoxFor(c => c.Employee.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.Email)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(c => c.Employee.Address)
            @Html.TextBoxFor(c => c.Employee.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Employee.Address)
        </div>

        <div class="form-group">
            @Html.HiddenFor(c => c.Employee.Id)
            @Html.AntiForgeryToken()
            <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="@ViewBag.CssClass" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@ViewBag.MessageType</strong>@ViewBag.Message
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FormScript/organization.js"></script>

}

