@using System.Web.Optimization
@model AssetManagementUI.ViewModels.AssetSetups.AssetGroupViewModels
@{
    ViewBag.Title = "AssetGroupForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10">
    <div class="col-md-8 col-sm-8 noPadingLeft">
        <h2>New Asseet Group</h2>
    </div>

    <div class="col-md-4 col-sm-4">
        <p>@Html.ActionLink("Back To List", "Index", "AssetGroups", null, new { @class = "btn btn-default align-right" })</p>

    </div>
</div>


@using (Html.BeginForm("Save", "AssetGroups"))
{
    <div id="saveForm" class="col-md-offset-1 col-sm-offset-1 col-md-6 col-sm-8">
        <div class="form-group">
            @Html.LabelFor(c => c.AssetGroup.AssetTypeId)
            @Html.DropDownListFor(c => c.AssetGroup.AssetTypeId, new SelectList(Model.AssetTypes, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.AssetGroup.AssetTypeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.AssetGroup.Name)
            @Html.TextBoxFor(c => c.AssetGroup.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.AssetGroup.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.AssetGroup.ShortName)
            @Html.TextBoxFor(c => c.AssetGroup.ShortName, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.AssetGroup.ShortName)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.AssetGroup.GroupCode)
            @Html.TextBoxFor(c => c.AssetGroup.GroupCode, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(c => c.AssetGroup.GroupCode)
        </div>

        <div class="form-group">
            @Html.HiddenFor(c => c.AssetGroup.Id)
            @Html.AntiForgeryToken()
            <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="@ViewBag.CssClass" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@ViewBag.MessageType</strong>@ViewBag.Message
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FormScript/assetGroup.js"></script>

}

